<div class="lower-page" id="about" ng-show = "IsVisible">
    <!-- center container start -->
    <div class="center-container">
        <!-- center block start -->
        <div class="center-block">
            <!-- lower content start -->
            <div class="lower-content">
                <!-- container start -->
                <div class="container sections">
                    <!-- row start -->
                    <div class="row about-column">
                        <div class="col-md-3">
                            <h2>
                                Á propos
                            </h2>
                        </div>
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <div class="quote">
                                <p>
                                    <span class="quote-mark-l fa fa-quote-left"></span>Développeur junior Javascript/NodeJS
                                    orienté back-end mais attiré par le fullstack.<span class="quote-mark-r fa fa-quote-right"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- row end -->
                    <!-- row start -->
                    <div class="row">
                        <!-- decoration start -->
                        <div class="decoration">
                            <div class="decoration-left"></div>
                            <div class="decoration-effect">
                                <a class="effect-bubba" href="#">Télécharger CV (PDF)</a>
                            </div>
                            <div class="decoration-right"></div>
                        </div>
                        <!-- decoration end -->
                    </div>
                    <!-- row end -->
                    <!-- row start -->
                    <div class="row about-column">
                        <div class="col-md-4">
                            <!-- skills start -->
                            <div class="contentOT">
                                <div class="colOT">
                                    <ul id="skills">
                                        <li>
                                            <span class="expand html5"></span><em>HTML5/CSS3</em>
                                        </li>
                                        <li>
                                            <span class="expand css3"></span><em>AngularJs</em>
                                        </li>
                                        <li>
                                            <span class="expand jquery"></span><em>Javascript</em>
                                        </li>
                                        <li>
                                            <span class="expand photoshop"></span><em>Nodejs</em>
                                        </li>
                                        <li>
                                            <span class="expand dreamweaver"></span><em>Mongodb</em>
                                        </li>
                                        <li>
                                            <span class="expand dreamweaver"></span><em>Sql Server 2014 - 2016</em>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- skills end -->
                        </div>
                        <div class="col-md-4">
                            <p>
                                Une occasion de travailler et de se perfectionner, ainsi que d'être impliqué dans une organisation qui croit à gagner un
                                avantage concurrentiel et à redonner à la communauté. Je développe actuellement une solide
                                expérience dans de développement web. Je me concentre sur les languages C# et javascript
                                afin de construire une bonne expérience utilisateur et de créer un fort intérêt pour mes
                                employeurs.
                            </p>
                            <p>
                                J'espère développer et approfondir mes compétences dans le développement, la connaissance du Web, et devenir un atout honnête
                                à l'entreprise. En tant qu'individu, je suis convaincu que vous me trouverez créatif, drôle
                                et naturellement passionné
                            </p>
                        </div>
                        <div class="col-md-4">
                            <p>
                                J'ai travaillé sur des project en asp.net core ainsi qu'en javascript. Ceci m'a donné une expérience dans la production de
                                web services, d'api et de site( front ) à plus faible mesure.
                            </p>
                            <p>
                                J'aime créer , avoir un code structuré et élégant.J'ai aussi crée et gérer des base de données relationnel ( Sql ) et des
                                bases Mongo
                            </p>
                        </div>
                    </div>
                    <!-- row end -->
                </div>
                <!-- container end -->
            </div>
            <!-- lower content end -->
        </div>
        <!-- center container end -->
    </div>
    <!-- center block end -->
</div>
<!-- about end -->