<div class="header">
    <div class="navbar" role="navigation">
        <div class="navbar-buttons">
            <span><img class="open-menu" src="images/menu.svg" alt="" ng-click="ShowHide()"/></span>
        </div>
    </div>
    <!-- Overlay Navigation Menu -->
    <div class="overlay">
        <h2 class="nav-title">Navigation</h2>
        <nav class="overlay-menu">
            <ul class="ul">
                <li><a href="#/about" ng-click="ShowHide()">Á Propos</a></li>
                <li><a href="#">Service</a></li>
                <li><a href="#">Portfolio</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="/" ng-click="ShowHide()">Index</a></li>
                <li><img class="close-menu" src="images/close.svg" alt="" ng-click="ShowHide()" /></li>
            </ul>
        </nav>
    </div>
</div>