

<!-- upper page start -->
<div class="upper-page current" id="home">
  <!-- center container start -->
  <div class="center-container-home">
    <!-- center block start -->
    <div class="center-block">
      <!-- upper content start -->
      <div class="upper-content">
        <!-- container start -->
        <div class="container sections">
          <!-- row start -->
          <div class="row intro-down">
            <div class="cycle-it-home">
              <h2 class="cycle-text">Bonnard Valentin</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
